Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /index.html [QSA,L]

# Force correct MIME types
<FilesMatch "\.css$">
    Header set Content-Type "text/css"
</FilesMatch>

<FilesMatch "\.js$">
    Header set Content-Type "application/javascript"
</FilesMatch>

AddType text/css .css
AddType application/javascript .js
